<!--
  Generated template for the ModifyPizzaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar>
    	<ion-title>ModifyPizza</ion-title>
    	<ion-buttons end (click)="dismiss()">
       		<button ion-button icon-only>
      			<ion-icon name="close" ></ion-icon>
       		</button>
    	</ion-buttons>
  	</ion-navbar>
  	

</ion-header>


<ion-content padding>
	<h1 *ngIf="msg">{{msg}}</h1>
	<form (ngSubmit)="logForm()" #heroForm="ngForm">
		<ion-list>

			<ion-item>
			    <ion-label floating>Nom de la pizza</ion-label>
			    <ion-input type="text" [(ngModel)]="pizzaForm.name" name="name"></ion-input>
			</ion-item>

			<ion-item>
			    <ion-label floating>Description de la pizza</ion-label>
			    <ion-input type="text" [(ngModel)]="pizzaForm.description" name="description"></ion-input>
			</ion-item>


			<ion-item>
			    <ion-label floating>Prix de la pizza</ion-label>
			    <ion-input type="text" [(ngModel)]="pizzaForm.price" name="price"></ion-input>
			</ion-item>

			<ion-item>
			    <ion-label floating>Date de la création de la pizza</ion-label>
			    <ion-input type="text" [(ngModel)]="pizzaForm.dateCreated" name="dateCreated"></ion-input>
			</ion-item>

			<ion-item>
			    <ion-label floating>date de la dernière modification de la pizza</ion-label>
			    <ion-input type="text" [(ngModel)]="pizzaForm.dateUpdated" name="dateUpdated"></ion-input>
			</ion-item>

			<br />

			<h3>Ingrédients de la pizza</h3>
			<br />
			<ion-item *ngFor="let ingredient of dataIngredient">
    			<ion-label>{{ingredient.name}}</ion-label>
    			<ion-checkbox [(ngModel)]="ingredient.check" name="{{ingredient.name}}"></ion-checkbox>
  			</ion-item>

			<br />

			<img *ngIf="this.pizzaForm.image" src="{{pizzaForm.image}}">
			<button ion-button secondary (click)="runCamera()">Ouvrir la caméra</button>
			<button ion-button type="submit" block>Enregistrer</button>

		</ion-list>
	</form>
</ion-content>
